@using UVGramWeb.Shared.Data
@inject UVGramWeb.Services.IAuthenticationService AuthenticationService
@inject Services.IChatService ChatService;

<div class="chat">
  <div class="chat-header border-bottom">
    <div class="userprofile">
      @if (Chat != null && Chat.Initiator != null && Chat.Receiver != null)
      {
        if (Chat.Initiator.username == Chat.Receiver.username)
        {
          <UVGramWeb.Pages.Components.UserProfile ImageUrl="@AuthenticationService.User.Url">
          </UVGramWeb.Pages.Components.UserProfile>
        }
        else if (Chat.Initiator.username != AuthenticationService.User.Username)
        {
          <UVGramWeb.Pages.Components.UserProfile ImageUrl="@Chat.Initiator.url"></UVGramWeb.Pages.Components.UserProfile>
        }
        else
        {
          <UVGramWeb.Pages.Components.UserProfile ImageUrl="@Chat.Receiver.url"></UVGramWeb.Pages.Components.UserProfile>
        }
      }
    </div>
    <div class="username">
      <span class="semibold">
        @if (Chat != null && Chat.Initiator != null && Chat.Receiver != null)
        {
          if (Chat.Initiator.username == Chat.Receiver.username)
          {
            @Chat.Initiator.username
          }
          else if (Chat.Initiator.username != AuthenticationService.User.Username)
          {
            @Chat.Initiator.username
          }
          else
          {
            @Chat.Receiver.username
          }
        }
      </span>
    </div>
    <div class="chat-actions">
      <button @onclick="@(() => ShowDetailsChat = !ShowDetailsChat)">
        @if (!ShowDetailsChat)
        {
          <svg aria-label="Ver detalles de la conversación" class="@(ShowDetailsChat ? "ca-active" : "")" color="#262626"
            fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
            <circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"></circle>
            <circle cx="11.819" cy="7.709" r="1.25"></circle>
            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              x1="10.569" x2="13.432" y1="16.777" y2="16.777"></line>
            <polyline fill="none" points="10.569 11.05 12 11.05 12 16.777" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2"></polyline>
          </svg>
        }
        else
        {
          <svg aria-label="Vuelve al chat desde los detalles de la conversación" class="_8-yf5 " color="#262626"
            fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
            <path
              d="M12.001.504a11.5 11.5 0 1011.5 11.5 11.513 11.513 0 00-11.5-11.5zm-.182 5.955a1.25 1.25 0 11-1.25 1.25 1.25 1.25 0 011.25-1.25zm1.614 11.318h-2.865a1 1 0 010-2H11V12.05h-.432a1 1 0 010-2H12a1 1 0 011 1v4.727h.433a1 1 0 110 2z">
            </path>
          </svg>
        }

      </button>
    </div>
  </div>
  @if (!ShowDetailsChat)
  {
    <div class="chat-messages">
      <div class="chat-messages-wrapper">
        @if (Messages != null)
        {
          foreach (var message in Messages)
          {
            if (message.User.username == AuthenticationService.User.Username)
            {
              <UVGramWeb.Pages.Inbox.Chat.MyMessage.MyMessage Message="@message" />
            }
            else
            {
              <UVGramWeb.Pages.Inbox.Chat.UserMessage.UserMessage Message="@message" />
            }
          }
        }
      </div>
    </div>
    <div class="chat-send-actions">
    <div class="cs-wrapper border">
      <div class="cs-emojis">
        <button>
          <svg aria-label="Emoji" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
            viewBox="0 0 24 24" width="24">
            <path
              d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z">
            </path>
          </svg>
        </button>
      </div>
      <div class="cs-textarea">
        <textarea class="form-control shadow-none" autocomplete="off" autocorrect="off" type="text" id="search"
          placeholder="Agrega un comentario..." aria-label="Agrega un comentario" />
      </div>
      <div class="cs-fileadj">
        <button>
          <svg aria-label="Agregar foto o video" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
            viewBox="0 0 24 24" width="24">
            <path d="M6.549 5.013A1.557 1.557 0 108.106 6.57a1.557 1.557 0 00-1.557-1.557z" fill-rule="evenodd">
            </path>
            <path
              d="M2 18.605l3.901-3.9a.908.908 0 011.284 0l2.807 2.806a.908.908 0 001.283 0l5.534-5.534a.908.908 0 011.283 0l3.905 3.905"
              fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path>
            <path
              d="M18.44 2.004A3.56 3.56 0 0122 5.564h0v12.873a3.56 3.56 0 01-3.56 3.56H5.568a3.56 3.56 0 01-3.56-3.56V5.563a3.56 3.56 0 013.56-3.56z"
              fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            </path>
          </svg>
        </button>
      </div>
      @* IF TEXTFIELD ENTERED DATA THEN SHOW THIS BUTTON *@
      <button class="btn btn-link text-decoration-none" enabled>
        <span>Enviar</span>
      </button>
    </div>

  </div>
  }
  else
  {
    <div class="chat-actions-details">
      <div class="chat-members border-bottom">
        <span class="semibold">Miembros</span>
        @* <UVGramWeb.Pages.Inbox.Chat.MemberCard.MemberCard></UVGramWeb.Pages.Inbox.Chat.MemberCard.MemberCard> *@

      </div>
      <div class="chat-actionsdetails">
        <button class="btn-danger" enabled>
          <span>Eliminar chat</span>
        </button>
        <button class="btn-danger" enabled>
          <span>Bloquear</span>
        </button>
        <button class="btn-danger" enabled>
          <span>Reportar</span>
        </button>
      </div>
    </div>

  }

</div>

@code {
  public Boolean ShowDetailsChat = false;
  [Parameter]
  public Chat Chat { get; set; }

  public List<Message> Messages { get; set; }

  protected override async Task OnParametersSetAsync()
  {
    try
    {
      Messages = await ChatService.GetAllChatMessages(Chat.Uuid);
    }
    catch (SystemException error)
    {
      Console.WriteLine(error);
    }
    StateHasChanged();
  }



}
