@page "/{username}"
@inject Services.IAccountService AccountService;
@using UVGramWeb.Pages.Components;
@inject UVGramWeb.Services.IAuthenticationService AuthenticationService

@if (DataLoaded)
{
    @if (ValidUser)
    {
        @if (AuthenticationService.User == null)
        {
            <UVGramWeb.Pages.Components.Topbar>
    <TopbarTools></TopbarTools>
</UVGramWeb.Pages.Components.Topbar>
        }
        <div class="profile">
    <div class="profile-content">
        <section class="profile-userdata">
            <header class="profile-data">
                <div class="userprofile">
                    <div class="userprofile-img">
                        @* <UVGramWeb.Shared.UserProfile.UserProfile></UVGramWeb.Shared.UserProfile.UserProfile> *@
                    </div>
                </div>
                <div class="profile-description">
                    <div class="profile-a-container">
                        <div class="profile-a-username">
                            <h2>@Username</h2>
                        </div>
                        <div class="profile-desc-actions">
                            <div>
                                <button class="btn border">Editar perfil</button>
                            </div>
                            <div>
                                <button class="btn border">Seguir</button>
                            </div>
                            <div>
                                <button class="btn border">Bloquear</button>
                            </div>
                            <div>
                                <button class="btn border">Reportar</button>
                            </div>
                        </div>
                    </div>
                    <div class="profile-b-container">
                        <div class="profile-indicators">
                            <span class="profile-publications-span"><strong class="semibold">
                                    @UserProfile.posts.Count
                                </strong>
                                publicaciones</span>
                            <div class="pf-followers">
                                <button class="border-0 bg-transparent">
                                    <span class="profile-followers-span"><strong
                                            class="semibold">@UserProfile.followers</strong>
                                        seguidores
                                    </span>
                                </button>
                                @* @if (ShowFollowersToolTip)
                                    {
                                    <div class="notsqr"></div>
                                    <UVGramWeb.Pages.Profile.Followers.Followers>
                                    </UVGramWeb.Pages.Profile.Followers.Followers>
                                    } *@

                            </div>
                            <div class="pf-following">
                                <button class="border-0 bg-transparent">
                                    <span class="profile-followed-span"><strong
                                            class="semibold">@UserProfile.followed</strong>
                                        seguidos</span>
                                </button>
                                @* @if (ShowFollowingToolTip)
                                    {
                                    <div class="notsqr"></div>
                                    <UVGramWeb.Pages.Profile.Following.Following>
                                    </UVGramWeb.Pages.Profile.Following.Following>

                                    } *@

                            </div>
                        </div>
                    </div>
                    <div class="profile-c-container">
                        <span class="profile-name-span semibold">@UserProfile.name</span>
                        <p class="muted-text">@UserProfile.presentation</p>
                    </div>
                </div>
            </header>
            <div class="profile-histories">
                <ul>
                    @* <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                        </li>
                        <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                        </li>
                        <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                        </li>
                        <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                        </li> *@

                </ul>
            </div>
        </section>
        <article class="profile-publications">
            <div class="profile-publications-container">
                @foreach (var post in UserProfile.posts)
                        {
                            <ProfilePublication Post="post"></ProfilePublication>
                        }
                    </div>
                </article>
            </div>
        </div>
    }
    else
    {

        <NotFound></NotFound>
    }
}


@code {
    [Parameter]
    public string Username { get; set; }
    public UVGramWeb.Shared.Data.Profile UserProfile { get; set; }
    private bool ValidUser { get; set; } = false;
    private bool DataLoaded { get; set; } = false;

    protected override async void OnInitialized()
    {
        if (Username != null)
        {
            bool result = await AccountService.DoesUsernameExist(Username.ToLower());
            if (result)
            {
                UserProfile = await AccountService.GetProfile(Username.ToLower());
                ValidUser = true;
            }
        }
        DataLoaded = true;
        StateHasChanged();
    }



}