@page "/signup"
@inject NavigationManager Navigation;
@using UVGramWeb.Pages.Components;


<section class="signUp">
    @steps[currentStep]
</section>


@code {
    [CascadingParameter] public Task<AuthenticationState> authStateTask { get; set; }

    private RenderFragment[] steps = new RenderFragment[4];
    private int currentStep = 0;

    private UVGramWeb.Shared.Data.UserRegister newUserModel = new Shared.Data.UserRegister();
    private String errorMessage;

    protected override async void OnInitialized()
    {
        var user = (await authStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/");
            return;
        }
        else
        {
            steps[0] =
    @<SignUpBasicInfo MoveForward="@MoveForward" UserRegisterModel="@newUserModel"></SignUpBasicInfo>
    ;
            steps[1] =
    @<SignUpBirth MoveForward="@MoveForward" MoveBackward="@MoveBackward"></SignUpBirth>
    ;
            steps[2] =
    @<SignUpVerifyCode MoveForward="@MoveForward" MoveBackward="@MoveBackward"></SignUpVerifyCode>
    ;
        }

    }

    public void MoveForward()
    {
        if (currentStep < 2)
        {
            currentStep += 1;
            StateHasChanged();
        }
    }

    public void MoveBackward()
    {
        if (currentStep > 0)
        {
            currentStep -= 1;
            StateHasChanged();
        }
    }

}